@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* index.css */
/* index.css */


button {
  cursor: url('./assets/images/pawprint.png') 16 16, pointer;
}


@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.animate-fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

.toggle-checkbox:checked {
  background-color: #f59e0b; /* amber-500 */
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #f59e0b; /* amber-500 */
}

.floating-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: transparent;
  outline: none;
}

.floating-label {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  background: white;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label,
.floating-input:valid + .floating-label {
  transform: translateY(-1.5rem);
  font-size: 0.75rem;
  color: #f97316;
}

.text-stroke-black {
  -webkit-text-stroke: 1px black;
  color: white;
}
